{{ define "layout" }}
    <header x-style="mx:auto; mt:5rem; mb:5rem; max-w:900px;">
        <div x-style="grid; place-items:center; mx:1.5rem;">    
            <div x-style="p:1.5rem; radius:pill;  bg-color:@sunset;">
                <img width="250px"src="static/assets/logo.png"></img>
            </div>
            <h1 class="lilita" x-style="color:@razzmatazz; font-size:3rem; py:1rem;">prattl</h1>
            <p x-style="text:xl; font-weight:600; text-align:center;">
                A cli tool for creating audio transcriptions locally
            </p>
            <a href="https://github.com/benleem/prattl/releases" target="_blank" rel="noreferrer noopener" x-style="text:lg; pt:0.5rem;">releases</a>
        </div>
    </header>
    <section x-data="{ distribution: 'mac'}" x-style="p:1.5rem; mx:auto; max-w:900px; bg:@jet-light; border-top-right-radius:1rem; border-top-left-radius:1rem;">
        <div x-style="pb:0.5rem;">
            <button @click="distribution = 'mac'" x-style="bg;none; border;0; cursor:pointer;">
                <img x-style='transform.hover:scale(1.1); transition:all ease-in-out 200ms; display:block;' src="static/assets/apple.svg" alt="mac">
            </button>
            <button @click="distribution = 'linux'" x-style="bg;none; border;0; cursor:pointer;">
                <img x-style='transform.hover:scale(1.1); transition:all ease-in-out 200ms; display:block;' src="static/assets/linux.svg" alt="linux">
            </button>
            <button @click="distribution = 'windows'" x-style="bg;none; border;0; cursor:pointer;">
                <img x-style='transform.hover:scale(1.1); transition:all ease-in-out 200ms; display:block;' src="static/assets/windows.svg" alt="windows">
            </button>
        </div>
        <div>   
            <template x-if="distribution == 'mac'">
                <div x-style="flex; flex-direction:column;">
                    <p x-style="pb:0.25rem;">Mac (latest)</p>    
                    <a href="https://github.com/benleem/prattl/releases/latest/download/prattl_Darwin_arm64.tar.gz">prattl_Darwin_arm64.tar.gz</a>
                    <a href="https://github.com/benleem/prattl/releases/latest/download/prattl_Darwin_x86_64.tar.gz">prattl_Darwin_x86_64.tar.gz</a>
                </div>
            </template>
            <template x-if="distribution == 'linux'">
                <div x-style="flex; flex-direction:column;">
                    <p x-style="pb:0.25rem;">Linux (latest)</p>
                    <a href="https://github.com/benleem/prattl/releases/latest/download/prattl_Linux_arm64.tar.gz">prattl_Linux_arm64.tar.gz</a>
                    <a href="https://github.com/benleem/prattl/releases/latest/download/v0.1.1/prattl_Linux_x86_64.tar.gz">prattl_Linux_x86_64.tar.gz</a>
                </div>
            </template>
            <template x-if="distribution == 'windows'">
                <div x-style="flex; flex-direction:column;">
                    <p x-style="pb:0.25rem;">Windows (latest)</p>
                    <a href="https://github.com/benleem/prattl/releases/latest/download/prattl_Windows_i386.zip">prattl_Windows_i386.zip</a>
                    <a href="https://github.com/benleem/prattl/releases/latest/download/prattl_Windows_x86_64.zip">prattl_Windows_x86_64.zip</a>
                </div>
            </template>
        </div>
    </section>
    <!-- <section x-style="max-w:900px; w:100%; mx:auto; py:2rem;">
        <img width="100%" x-style="display:block;" src="static/assets/prattldemo.gif"></img>
    </section> -->
    <section class="markdown-container">
        <div class="markdown" id="markdown">
            {{ template "markdown" .}}
        </div>
    </section>
    <footer style="position: fixed; bottom: 0; right: 0;" x-style="flex; justify-content:right; align-self:bottom; p:1rem; gap:0.5rem;">
        <!-- <a download="prattl" href="static/assets/instructions.md" x-style='margin:none;' >
            <img x-style='transform.hover:scale(1.1); transition:all ease-in-out 200ms; display:block;' src="static/assets/download.svg" alt="download">
        </a> -->
        <a target="_blank" href="https://github.com/benleem/prattl" x-style='margin:none;' >
            <img x-style='transform.hover:scale(1.1); transition:all ease-in-out 200ms; display:block;' src="static/assets/github-mark.svg" alt="github">
        </a>
    </footer>
{{ end }}